extends layout

block content
  .row
    .col-md-6.col-md-offset-3
      h1 Epic Game
  .row
    .col-md-6.col-md-offset-3 
      ui-view
      
      
      
      
      
      
  script(type='text/ng-template', id='/game.html').
    <div class="page-header">
      <h1>Game</h1>
    </div>
    <a href="#/high_score">See high score</a>
    {{info}}
    
  script(type='text/ng-template', id='/high_score.html').
    <div class="page-header">
      <h1>High Score</h1>
    </div>
    <a href="#/game">Go to the game</a>
    <div ng-repeat="score in scores | orderBy:'-points'">
      {{score.userName}} scored {{score.points}} points!
    </div>
  //- script(type='text/ng-template', id='/posts.html').
  //-   <div class="page-header">
  //-     <h3>
  //-       <a ng-show="post.link" href="{{post.link}}">
  //-         {{post.title}}
  //-       </a>
  //-       <span ng-hide="post.link">
  //-         {{post.title}}
  //-       </span>
  //-     </h3>
  //-   </div>
  //-   <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
  //-     <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
  //-     {{comment.upvotes}} - by {{comment.author}}
  //-     <span style="font-size:20px; margin-left:10px;">
  //-       {{comment.body}}
  //-     </span>
  //-   </div>
  //-   <form ng-submit="addComment()" style="margin-top:30px;">
  //-     <h3>Add a new comment</h3>
  //-     <div class="form-group">
  //-       <input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
  //-     </div>
  //-     <button type="submit" class="btn btn-primary">Post</button>
  //-   </form>
