extends layout
script(typeahead-template-url='partials/game.html')
script(typeahead-template-url='partials/high_score.html')

block content
  .row
    .col-md-6.col-md-offset-3
      .page-header
        h1 My Test Site
      ui-view
