doctype html
html(lang="en")
  head
    title My Test Site!
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js')
    script(src='/javascripts/testApp.js')
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
  body(ng-app='testSite')
    block content
