doctype html
html(lang="en")
  head
    title Space Invaders
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js')
    script(src='/javascripts/spaceInvaders.js')
    script(src='/javascripts/controllers/authentication.js')
    script(src='/javascripts/controllers/game.js')
    script(src='/javascripts/controllers/navbar.js')
    script(src='/javascripts/controllers/user.js')
    script(src='/javascripts/controllers/users.js')
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
  body(ng-app='spaceInvaders')
    block content
