body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.canvas {
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
  width: 100%;
  height: auto;
  cursor: none;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
