<div class="page-header row">
  <div class="col-md-6">
    <h2>Game</h2>
  </div>
  <div class="col-md-6">
    <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li><a href="#/high_score">High Score</a></li>
        <li><a href="#/game">Game</a></li>
        <li><a href="#/users">Users</a></li>
        <li ng-show="isLoggedIn()"><a href="#/user/{{currentUser()}}" style="font-weight: bold;">{{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 col-centered">
    <h3>
      <button ng-show="gameOver" type="button" class="btn btn-primary" ng-click="startGame()">Start Game</button>
      <button ng-hide="gameOver" type="button" class="btn btn-primary" ng-click="endGame(false)">End Game</button>
      <ng-show ng-show="gameStarted" class="pull-right">
        <ng-show ng-show="isLoggedIn()"><button ng-show="gameOver" type="button" class="btn btn-success" ng-click="submitScore()">Sumbit</button></ng-show>
        Score: <span style="color:red">{{points}}</span>
      </ng-show>
      <div ng-hide="isLoggedIn()">You is <span style="color:red">NOT</span> able to submit score since you are not logged in!</div>
    </h3>
    <canvas id="canvas" class="canvas" width="600" height="450" tabindex="1" ng-keyup="keyupHandler($event)" ng-keydown="keydownHandler($event)">Sorry, your browser doesn't support the &lt;canvas&gt; element.</canvas>
  </div>
</div>
