<div class="page-header row">
  <div class="col-md-6">
    <h2>You are not signed in</h2>
  </div>
  <div class="col-md-6">
    <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li><a href="#/high_score">High Score</a></li>
        <li><a href="#/game">Game</a></li>
        <li><a href="#/users">Users</a></li>
        <li ng-show="isLoggedIn()"><a href="#/user/{{currentUser()}}" style="font-weight: bold;">{{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      </ul>
    </nav>
  </div>
</div>

<div ng-show="error" class="alert alert-danger row">
  <span>{{ error.message }}</span>
</div>
<form ng-submit="register()" style="margin-top:30px;">
  <h3>Register</h3>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username" ng-model="registerUser.userName"></input>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" ng-model="registerUser.password"></input>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>

<form ng-submit="logIn()" style="margin-top:30px;">
  <h3>Log In</h3>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username" ng-model="loginUser.userName"></input>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" ng-model="loginUser.password"></input>
  </div>
  <button type="submit" class="btn btn-primary">Log In</button>
</form>
