<div class="page-header row" data-ng-init="getUser()">
  <div class="col-md-8">
    <h2>User page of {{user.userName}}</h2>
  </div>
  <div class="col-md-4">
    <h2 style="float:right;">
      <a href="#/high_score">See high score</a>
      </br>
      <a href="#/game">Go to the game</a>
    </h2>
  </div>
</div>
<span style="font-size:20px">
  Username: <span style="color:red">{{user.userName}}</span>
  </br>
  Password: <span style="color:red">{{user.password}}</span>
  </br>
  Best scores:
  <div style="color:red" ng-repeat="scores in user.scores | orderBy : '-points'">
    {{scores.points}}
  </div>
</span>
