<div class="page-header row" data-ng-init="getUser()">
  <div class="col-md-6">
    <h2>User page of {{user.userName}}</h2>
  </div>
  <div class="col-md-6">
    <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li><a href="#/high_score">High Score</a></li>
        <li><a href="#/game">Game</a></li>
        <li><a href="#/users">Users</a></li>
        <li ng-show="isLoggedIn()"><a href="#/user/{{currentUser()}}" style="font-weight: bold;">{{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      </ul>
    </nav>
  </div>
</div>

<span style="font-size:20px">
  Username: <span style="color:red">{{user.userName}}</span>
  </br>
  Best scores:
  <ul class="list-group">
    <div ng-repeat="scores in user.scores" style="font-size:16px">
      <div ng-if="scores.place<6">
        <li class="list-group-item">
          {{scores.place}}: <span style="color:red">{{scores.points}}</span>
        </li>
      </div>
    </div>
  </ul>
</span>
